{% extends "modelo.html" %}
{% load static %}


{% block 'titulo' %}
    <title>Divulgações</title>
{% endblock 'titulo' %}


{% block 'cabecalho' %}
    <section class="container-fluid" id="cabecalho">
        <section class="container">
            <section class="row">
                <section class="col-md-12">
                <section id="conteudo-cabecalho">
                    <h1 id="titulo">DIVULGAÇÕES</h1>
                    <p class="lead">Bem vindo(a) a colmeia de novidades!</p>
                </section>
                </section>
            </section>
        </section>
    </section>
{% endblock 'cabecalho' %}

{% block 'conteudo' %}

    {% block 'campo-busca' %}
        <section class='container-fluid'>
            <section class='container'>
                <section class='row'>
                    <section class='col-md-6 conteudo-carousel'>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Procure pela divulgação..." aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">Procure</button>
                        </form>
                    </section>
                </section>
            </section>
        </section>
    {% endblock 'campo-busca' %}

    {% block 'divulgacao' %}
        <section class="container-fluid">
            <section class="container">
            {% for divulg in divulgacoes %}
                <section class="row">
                    
                    <div class="col-md-12">
                        <h3 class="h3 titulo-conteudo">{{ divulg.titulo }}</h3>
                        <p class="text-muted data-publicacao" >Publicada em {{ divulg.data_registro }}</p>
                        <p>{{ divulg.conteudo|safe }}</p>
                    </div>
                    
                    <article class="col-md-12 galeria" >
                        {% for img in divulg.imagem_da_divulgacao.all %}
                            <img class="img-thumbnail" src="{{ img.imagem.url }}" alt="">
                        {% endfor %}
                    </article>
                      
                </section>
            {% endfor %}
        </section>
    {% endblock 'divulgacao' %}

{% endblock 'conteudo' %}
