{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block 'titulo' %}
        <title>Início</title>
    {% endblock 'titulo' %}

    {% block estilo %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock estilo %}

    

</head>
<body>

    {% block 'navbar' %}
        <div class="container-fluid ">
            <section class="container">
                <section class="row">
                    <section class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto">
                                        {% if request.user.is_authenticated %}
                                            <li class="nav-item">
                                                <a class="nav-link active" style='color: var(--roxo);' aria-current="page" href="{% url "tela-admin" %}">Tela admin</a>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="{% url "inicio" %}">INÍCIO</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#nutricao">NUTRIÇÃO</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#divulgacoes">DIVULGAÇÕES</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#setores">SETORES</a>
                                        </li>
                                    
                                        {% if request.user.is_authenticated %}
                                            <li class="nav-item">
                                                <a class="nav-link " style='color: var(--roxo);' aria-current="page" href="{% url 'logout' %}">SAIR</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">ENTRAR</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </section>
                </section>
            </section>
        </div>
    {% endblock 'navbar' %}
    
    {% block 'cabecalho' %}
        <section class="container-fluid" id="cabecalho">
            <section class="container">
            <section class="row">
                <section class="col-md-12">
                <section id="conteudo-cabecalho">
                    <h1 id="titulo">BEE INFORMA</h1>
                    <p class="lead">Fique por dentro das ações estudantis como campanhas e eventos do campus <br>IFRN - São Paulo do Potengi</p>
                </section>
                </section>
            </section>
            </section>
        </section>
    {% endblock 'cabecalho' %}

    {% block 'conteudo' %}
    
    {% endblock 'conteudo' %}

    {% block 'rodape' %}
    
    {% endblock 'rodape' %}




    {% block 'script' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {% endblock 'script' %}

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
 
</body>
</html>