{% extends "modelo.html" %}
{% load static %}

{% block 'titulo' %}
    <title>Setores</title>
{% endblock 'titulo' %}

{% block 'cabecalho' %}
    <section class="container-fluid" id="cabecalho">
        <section class="container">
        <section class="row">
            <section class="col-md-12">
            <section id="conteudo-cabecalho">
                <h1 id="titulo">SETORES</h1>
                <p class="lead">Bem vindo(a) a colmeia de informações sobre os horários dos setores!</p>
            </section>
            </section>
        </section>
        </section>
    </section>
{% endblock 'cabecalho' %}

{% block 'conteudo' %}
    {% block 'campo-busca' %}
        <section class='container-fluid'>
            <section class='container'>
                <section class='row'>
                    <section class='col-md-6 conteudo-carousel'>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Procure pelo setor..." aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">Procure</button>
                        </form>
                    </section>
                </section>
            </section>
        </section>
    {% endblock 'campo-busca' %}

    {% block 'horario-setor' %}
        <section class='container-fluid'>
            <section class='container'>
                <section class='row'>
                    {% for setor_info in setores_info.items %}
                    <section class='col-md-12'>
                        <h3 class='h3 titulo-conteudo'> {{ setor_info.nome }} </h3>

                        <article class='col-md-8'>
                            <div class='table-responsive'>
                                <table class='table table-striped table-hover table-bordered align-middle'>
                                    <thead scope='col'>
                                        <tr>
                                            <th scope="col">Segunda-feira</th>
                                            <th scope="col">Terça-feira</th>
                                            <th scope="col">Quarta-feira</th>
                                            <th scope="col">Quinta-feira</th>
                                            <th scope="col">Sexta-feira</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for horario in setor_info.horarios %}
                                            {% if horario.dia_semana == "SEG" %}
                                            <tr>
                                                <td> {{ horario.horario_inicio }} - {{ horario.horario_fim }} </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> - </td>
                                            </tr>

                                            {% elif horario.dia_semana == "TER" %}
                                            <tr>
                                                <td> - </td>
                                                <td> {{ horario.horario_inicio }} - {{ horario.horario_fim }} </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> - </td>
                                            </tr>
                                                                                        
                                            {% elif horario.dia_semana == "QUA" %}
                                            <tr>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> {{ horario.horario_inicio }} - {{ horario.horario_fim }} </td>
                                                <td> - </td>
                                                <td> - </td>
                                            </tr>
                                                                                        
                                            {% elif horario.dia_semana == "QUI" %}
                                            <tr>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> {{ horario.horario_inicio }} - {{ horario.horario_fim }} </td>
                                                <td> - </td>
                                            </tr>
                                                                                        
                                            {% elif horario.dia_semana == "SEX" %}
                                            <tr>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> - </td>
                                                <td> {{ horario.horario_inicio }} - {{ horario.horario_fim }} </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </article>
                    </section>
                    {% endfor %}
                </section>
            </section>
        </section>
    {% endblock 'horario-setor' %}

    
    
{% endblock 'conteudo' %}




