{% load static %}

{% block estilo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock estilo %}


<body>
    <nav class="navbar navbar-dark ">
        <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" >
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-start px-2" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h4 class="offcanvas-title" id="offcanvasExampleLabel">BEE INFORMA</h4>
                  <button type="button" class="btn-close text-reset " data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class='list-unstyled'>
                        <li class='opcao'><a href="" class='text-decoration-none'>Divulgações</a></li>
                        <li class='opcao'><a href="" class='text-decoration-none'>Setores</a></li>
                        <li class='opcao'><a href="" class='text-decoration-none'>Nutrição</a></li>
                    </ul>

                    
                </div>

                <footer>
                    <div class="btn-group dropup opcao px-2">
                        <button type="button" class="btn profile dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Nome de usuario
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Sair</a></li>  
                        </ul>
                      </div>
                </footer>
        </div>
    </nav>
   
</body>