{% load static %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock sidebar %}

{% block 'conteudo' %}
    <div class="container">
        <a href="{% url 'divulgacao-create' %}">Criar divulgação</a>

        <table class="table table-striped ">
            <thead>
                <tr>
                    <td>Título</td>
                    <td>Opções</td>
                </tr>
            </thead>

            <tbody>
                {% for divulg in divulgacoes %}
                    <tr>
                        <td> 
                            <a href="{% url 'divulgacao-detail' divulg.id %}">{{ divulg.titulo }}</a> 
                        </td>
                        <td>
                            <a href="{% url 'divulgacao-delete' divulg.id %}">Deletar</a>
                            <a href="{% url 'divulgacao-update' divulg.id %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock 'conteudo' %}

